<div class="footer">
  <div class="footer-links">
    <h5 class="title-social">Follow us</h5>
    <div>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
  <div class="footer-copyright">
    <p>This website was made with <i class="fas fa-heart"></i> by the Hunting Cats team 😺</p>
  </div>
</div>
