<div class="banner-home">
      <div class="container">
        <h1>Invasion de souries chez vous ? Faîtes appel a Hunting Cats !</h1>
        <p>Réservez des chats proche de chez vous en un click</p>
        <a href="" class="btn btn-primary"> Trouver votre Chat ! </a>
      </div>
    </div>





