<div class="banner-home">
  <div class="container">
    <h1>Infestation of mice in your home? Use Hunting Cats services!</h1>
    <h3>Choose a natural solution to get ride of it.</h3>
    <h3>Book an experienced cat near you! </h3>
      <div class="pt-5">
        <%= link_to "RENT A CAT", cats_path, class: "btn btn-warning btn-lg" %>
        <!-- <button type="button" class="btn btn-info">Trouvez votre chat</button> -->
      </div>
    </div>
</div>

<div class="container pt-5">
  <h2 class="title-color">Why using Hunting Cats services?</h2>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div>
        <p class="text-justify">Your are looking for a <strong>natural</strong> way to get ride of your mice? You don't own a cat or yours does not have the "hunter skills"? Don't panic, Hunting Cats is the solution to all your problems! Very easy to use, in just a few clicks you can book a Hunting Cats near you that will clean up your house!<strong> Watch our video:</strong> we give you advice <strong>to choose the best cat</strong> according to your situation.</p>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZzWJC1Q9rO8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>




