<div class="banner-home">
  <div class="container">
    <h1>Invasion de souris chez vous ? Faîtes appel à Hunting Cats !</h1>
    <h3>Réservez des chats proche de chez vous en un clic</h3>
    <div class="pt-5">
      <button type="button" class="btn btn-info">Trouvez votre chat</button>
    </div>
    </div>
</div>

<div class="container pt-5">
      <h1 class="title-color">Pourquoi Hunting Cats ?</h1>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div>
              <p class="text-justify">Vous chercher un moyen <strong>naturel</strong> d'attraper vos souris ? Vous ne possédez pas de chat ou alors le votre n'est pas un hunter dans l'âme ? Pas de panique, Hunting Cats est la solution à vos soucis ! Très simple d'utilisation, en seulement quelques clics vous pouvez réserver un Hunting Cats près de chez vous qui viendra faire le ménage une bonne fois pour toute !<strong> Regarder notre vidéo d'expert</strong> pour vous guider vers le meilleur choix.</p>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/ZzWJC1Q9rO8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
    </div>






