.banner-home {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url("hunting-cats-home-banner.png");
  background-size: cover;
  background-position: center;
  height:700px;
  color:white;
  padding:150px 0px;
}

.banner-home h1 {
  font-size:35px;
}

.banner-home h3 {
  font-size:24px;
}


