.btn-show {
  background-color: $orange;
  margin-top: 35px;
  margin-bottom: 5px;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  &:hover {
    background-color: $orange;
    opacity: 0.7;

  }
}

.btn-home {
  background-color: $orange;
  border: none;
  border-radius: 5px;
  color: white;
  &:hover {
    background-color: $orange;
    opacity: 0.8;

  }
}

.btn-login-signin {
  margin: 24px 15px 0 15px;
}
