// used in cat index and cat show

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-show > img {
  height: 400px;
}

.card-show .subtitle {
  font-weight: lighter;
  padding-bottom: 10px;
}

.card-trip .subtitle {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: $gray;
}

.card-trip h1 {
  font-size: 45px;
  font-weight: bold;
  color: $gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-trip p {
  font-size: 20px;
  opacity: .7;
  margin: 0;
  color: $gray;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.card-trip .price {
  font-size: 42px;
  font-weight: bold;
  margin-right: 10px;
  color: $gray;
  margin-bottom: 0;
}


.form-show {
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: $gray;
  h3 {
    text-align: center;
    color: $blue;
    font-weight: bold;
  }
  .form-content {
    padding-top: 20px;
    color: $gray;
  }
}

.card-trip-index .card-trip-infos-index-cats {
  padding: 20px 25px 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  h3 {
    padding-left: 10px;
    font-weight: bold;
    font-size: 30px;
    color: $gray;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  }
  h4 {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 25px;
    color: $gray;
  }
  a {
    color: $gray;
    outline: 0;
    &:hover {
      color: $orange;
      text-decoration: none;
    }
  }
  .card-trip-mouses {
    padding-top: 10px;
  }
}

.card-trip-mouses> img {
  width: 50px;
}

.card-trip-index {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.card-trip-index > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-show-index > img {
  height: 400px;
}

.card-show-index .subtitle {
  font-weight: lighter;
  padding-bottom: 10px;
}

.card-trip-index .subtitle {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: $gray;
}

.card-trip-index h1 {
  font-size: 45px;
  font-weight: bold;
  color: $gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-trip-index p {
  font-size: 20px;
  opacity: .7;
  margin: 0;
  color: $gray;
}

.mouse-show {
  padding-top: 20px;
}
