.container-index {
  display:grid;
  flex-direction: row;
  width: 1200px;
  margin: 50px auto;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;

}

.container-header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.container-show {
  margin-top: 50px;
}

.container-index-booking {
  display:grid;
  flex-direction: row;
  width: 900px;
  margin: 50px auto;
  justify-content: space-between;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}
