.main-container {
  display: flex;
  padding: 30px 35px 0 35px;
}

.main-container .container-index {
  flex: 1;
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px;
  padding: 0 35px 0 0;
}

.container-index-my-cats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

#map {
  height: 100vh; /* viewport height */
  position: sticky;
  top:0;
  border-radius: 5px;
}


.container-header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.container-show {
  margin-top: 50px;
}

.container-index-booking {
  display:grid;
  flex-direction: row;
  width: 900px;
  margin: 50px auto;
  justify-content: space-between;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}

