.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.lien-navbar {
  color: $blue;
  text-decoration: none;
  font-size: 25px;
  padding-right: 30px;
  padding-top: 10px;
  outline: 0;
  &:hover {
    color: $orange;
    text-decoration: none;
  }
}

.nav-drop {
  padding-right: 30px;
  padding-top: 10px;
}

.lien-navbar {
  a {
    color: $blue;
    &:hover {
      color: $orange;
      text-decoration: none;
    }
  }
}
