<h1 class="container-header page-title">Find your hunter !</h1>


<div class="main-container">
  <div class="container-index">
    <% @cats.each do |cat| %>
      <div class="card-trip card-trip-index" >
        <div>
          <%= cl_image_tag cat.photo.key, height: 300, width: 700, crop: :fill %>
        </div>

        <div class="card-trip-infos-index-cats">
          <div>
           <h3><%= link_to cat.name.upcase, cat_path(cat) %></h3>
            <div class="card-trip-mouses">
              <% cat.performance.times do %>
                <%= image_tag "pink_mouse.svg", :width => "7%" %>
              <% end %>
            </div>
          </div>
          <h4> <%= cat.price_per_day %> € / day</h4>
        </div>
      </div>
    <% end %>
  </div>
        <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.346,48.8595,11.72,0,0/600x1000?access_token=pk.eyJ1Ijoiamp1bGllbndhZ29uIiwiYSI6ImNrN3pjNTk2YjA0dHgzaW5xandwNWxsbTgifQ.dxr_nrhoFOA9GeP2aNQQIA'>
</div>


