<h1 class="container-header page-title">The Hunters</h1>

<div class="container-index">
  <% @cats.each do |cat| %>
    <div class="card-trip" >
      <div>
        <%= cl_image_tag cat.photo.key, height: 300, width: 700, crop: :fill %>
      </div>

      <div class="card-trip-infos-index-cats">
        <div>
         <h2><%= link_to cat.name.upcase, cat_path(cat) %></h2>
          <div class="card-trip-mouses">
            <% cat.performance.times do %>
              <%= image_tag "pink_mouse.svg", :width => "7%" %>
            <% end %>
          </div>
        </div>
        <h4> <%= cat.price_per_day %> € / day</h4>
      </div>
    </div>
  <% end %>
</div>



